@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Mediate sample usage</h6>
    <p>This example is configured to handle events in background using EventQueueDispatchStrategy. The event handlers wil launch a signalR action to show an Javascript Alert.</p>

    <p class="text-left">Click Launch query to see how to launch a simple query in mediate.</p>
    <p></p>
    <p class="text-left">Click Launch query with middleware to see how to launch a complex query in mediate with configured middlewares.</p>
    <p></p>
    <p class="text-left">Click Launch event to see how to launch a simple event in mediate.</p>
    <p></p>
    <p class="text-left">Click Launch event with middleware to see how to launch a complex event in mediate with configured middlewares.</p>


    <a href="https://mediate.readthedocs.io/en/docs/">Documentation</a>
</div>

