@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    In controller's action we have launched an event that is intentionally delayed 5 seconds.
    The event handler gets a signalr hub, waits 5 seconds and then sends a message to browser to show an alert.
</p>
